html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

canvas {
  display: block;
}

body {
  margin: 0;
  color: #1f1f1f;
  background: #fff;
}

body {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  font-family: "faricy-new-web";
}

.content-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 0;
}

.top-nav {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
}

main, header {
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  line-height: 1.5;
}

hr {
  outline: none;
  border: none;
  width: 4rem;
  padding: 0;
  margin: 2rem 0;
  height: 2px;
  background: #1f1f1f;
}

/* .left-edge-hr::after {
  display: block;
  content: ' ';
  width: 25px;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 0.85rem;
  left: -8rem;
} */

hr.right {
  position: absolute;
  height: 1px;
  width: 12.5px;
  right: 0rem;
  bottom: 0rem;
  margin: 4rem;
}

.title {
  letter-spacing: 0.325rem;
}

.brief {
  display: none;
  width: 100%;
  /* text-align: center; */
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.rotated-brief {
  transform: rotateZ(-90deg);
  transform-origin: top left;
  position: relative;
  top: 1.1rem;
  left: -0.3rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: currentColor;
}

header a {
  font-weight: 300;
}

nav a.active, nav a:hover {
  text-decoration: underline;
}

nav a {
  margin-left: 2rem;
}

.external {
  position: relative;
}
.external::after {
  content: '↗';
  font-size: 8px;
  margin-left: 3px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 100%;
  vertical-align: super;
  display: inline-block;
}


/* .third {
  display: flex;
  box-sizing: border-box;
  margin: 4rem;
  padding: 0;
  height: 128px;
  position: absolute;
  left: 0;
  top: 27vmin;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
} */

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: 1.6rem;
}

p {
  max-width: 430px;
  text-align: justify;
  position: relative;
  margin-bottom: 2rem;
}

p:last-child {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

hr.left {
  width: 25px;
  height: 1px;
  position: absolute;
  bottom: 0.7rem;
  left: -8rem;
  margin: 0;
}


@media only screen and (max-width: 580px) {
  .rotated-brief {
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    display: none;
  }
  body {
    font-size: 1.4rem;
  }
  .title {
    letter-spacing: 0.0rem;
    font-weight: 500;
  }
  /* .brief {
    display: block;
  } */
}