html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

canvas {
  opacity: 0.0;
  display: block;
  transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

canvas.active {
  opacity: 1.0;
  transition: opacity 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

body {
  margin: 0;
  color: #1f1f1f;
  background: #fff;
}

body {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  font-family: "faricy-new-web";
}

.content-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 0;
}

.top-nav {
  height: 2rem;
  min-height: 2rem;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

main {
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  line-height: 1.5;
}

hr {
  outline: none;
  border: none;
  width: 4rem;
  padding: 0;
  margin: 2rem 0;
  height: 2px;
  background: #1f1f1f;
}

/* .left-edge-hr::after {
  display: block;
  content: ' ';
  width: 25px;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 0.85rem;
  left: -8rem;
} */

hr.right {
  position: absolute;
  height: 1px;
  width: 12.5px;
  right: 0rem;
  bottom: 0rem;
  margin: 4rem;
}

.title {
  letter-spacing: 0.325rem;
}

.brief {
  display: none;
  width: 100%;
  /* text-align: center; */
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.rotated-brief {
  transform: rotateZ(-90deg);
  transform-origin: top left;
  position: relative;
  top: 1.1rem;
  left: -0.3rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.background-canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  text-decoration-color: transparent;
  font-weight: 500;
  color: currentColor;
}

header a, .list-view a {
  font-weight: 300;
}

nav a.active, nav a:hover, .list-view a.active {
  text-decoration: underline;
  text-decoration-color: currentColor;
  transition: text-decoration-color 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

nav a {
  margin-left: 2rem;
}

.external {
  position: relative;
}
.external::after {
  content: '↗';
  font-size: 8px;
  margin-left: 3px;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  left: 100%;
  vertical-align: super;
  display: inline-block;
}


/* .third {
  display: flex;
  box-sizing: border-box;
  margin: 4rem;
  padding: 0;
  height: 128px;
  position: absolute;
  left: 0;
  top: 27vmin;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
} */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: 1.6rem;
}

main.split-view {
  align-self: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.list-view {
  font-size: 1.4rem;
  flex-grow: 0;
  flex-shrink: 1;
  /* padding: 2rem 2rem 0rem 0; */
  width: 23rem;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.05); */
  z-index: 1;
}

.list-view-scroll {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}

.sketch-view {
  background: hsl(0, 0%, 98%);
  height: 100%;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 2;
  flex-direction: row;
}

.sketch-view iframe {
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.sketch-view .sketch {
  /* width: 30vw; */
  flex-basis: 50rem;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  box-sizing: border-box;
}

.sketch-view .code {
  width: 40vw;
  flex-grow: 2;
  flex-shrink: 1;
  /* max-width: 70rem; */
  flex-basis: 70rem;
  /* min-width: 60rem; */
  box-sizing: border-box;
  display: flex;
  background: white;
  height: 100%;
  margin: 0;
  padding: 0rem;
  overflow: hidden;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.code code, .code pre {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  font-size: 1.2rem;
}

.code pre {
  overflow: auto;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.sketch-view .code.loading {
  justify-content: center;
  align-items: center;
}

.no-sketch {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  margin: 0;
  padding: 4rem;
}

.no-sketch p {
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.no-sketch p.hotkey-tip {
  margin-top: 2rem;
  opacity: 0.75;
  font-size: 1.4rem;
}

.hotkey {
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: 0px 2.5px 10px -2.5px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 5px 5px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 10px;
  font-family: 'Courier New', monospace;
  background: hsl(0, 0%, 100%);
  white-space: nowrap;
}

.landing p {
  max-width: 430px;
  text-align: justify;
  position: relative;
  margin-bottom: 2rem;
}

.landing p:last-child {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

hr.left {
  width: 25px;
  height: 1px;
  position: absolute;
  bottom: 0.7rem;
  left: -8rem;
  margin: 0;
}

ul.examples {
  min-width: 15rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1.0em;
  text-indent: -1.0em;
}

ul.examples li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

ul.examples li::before {
  /* content: '\00a0'; */
  position: relative;
  /* top: 4.0px; */
  opacity: 0.5;
  /* font-size: 9px; */
  display: block;
  float: left;
  width: 0.0em;
  margin-right: 0.5rem;
  color: currentColor;
}

.list-section-header {
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: lowercase;
}

.list-view .examples {
  margin-top: 2rem;
}

.list-view .examples:first-child {
  margin-top: auto;
}

@media only screen and (max-width: 580px) {
  .rotated-brief {
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    display: none;
  }
  body {
    font-size: 1.4rem;
  }
  .title {
    letter-spacing: 0.0rem;
    font-weight: 500;
  }
}